<ion-header>
  <ion-toolbar style="--background: black">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" style="--color: #e5e5e5"></ion-back-button>
    </ion-buttons>
    <ion-title slot="end" class="sub-text">Movimientos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="Content-Background" [fullscreen]="true">
  <div class="contenedor-form">
    <h1 class="h1-reporte">Detalles de movimientos</h1>
    <p class="text-fallo">Informacion del movimiento</p>

    <ion-card class="card-confirmacion">
      <ion-card-header>
        <ion-card-title class="plan-price-confirmacion">{{ cuenta.Correo != undefined ? cuenta.Correo : 'Recarga de Saldo' }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ng-container *ngIf="cuenta.Correo !== undefined; else otraInformacion">
          <p class="service-card">Servicio: {{ cuenta.Producto }}</p>
          <p class="service-card">Servicio: {{ cuenta.Descripcion }}</p>
          <p class="service-card">Correo: {{ cuenta.Correo }}</p>
          <p class="service-card">Contraseña: {{ cuenta.Contrasena }}</p>
          <p class="service-card">Perfiles: {{ cuenta.Perfiles }}</p>
          <p class="service-card">PIN: {{ cuenta.PIN }}</p>
          <p class="service-card">Fecha de Compra: {{ cuenta.Fecha_de_Compra }}</p>
          <p class="service-card">Expira: {{ cuenta.Fecha_Expiracion }}</p>
          <p class="service-card">Días Restantes: {{ cuenta.Dias_Vigentes }}</p>
        </ng-container>
        <ng-template #otraInformacion>
          <p class="service-card">Recarga de Saldo</p>
          <p class="service-card">Cantidad: {{cuenta.Cantidad}}</p>
          <p class="service-card">Usuario: {{sharedDataService.userData.Usuario}}</p>
          <p class="service-card">Fecha: {{cuenta.Fecha}}</p>
        </ng-template>
      </ion-card-content>
    </ion-card>
    <br />
    <button *ngIf="cuenta.Dias_Vigentes > 0" class="btn-codigo" style="background-color: #c78f65" (click)="obtenerCodigo()">Obtener código</button>
    <br>
    <button class="btn-cerrar" style="background-color: #72A0C3" (click)="Copy()">Copiar</button>
    <br />
    <button class="btn-cerrar" (click)="Close()">Cerrar</button>
  </div>

  <div class="contenedor-pantalla" *ngIf="warningNoCodigo">
    <ion-card class="card-warning">
      <ion-img src="assets/card-signo-warning.svg" class="warningImg" alt="Imagen warning"></ion-img>
      <ion-card-header>
        <ion-card-title class="tittle-confirmacion">Atención</ion-card-title>
      </ion-card-header>
      <ion-card-content>
       <p class="texto-confirmacion">{{ textoWarnigCodigo }}</p>
      </ion-card-content>
      <ion-button shape="round" class="morado-confirmacion" (click)="cerrarWarning()">Aceptar</ion-button>
    </ion-card>
  </div>

  <div class="contenedor-pantalla" *ngIf="readyCodigo">
    <ion-card class="card-warning">
      <ion-img src="assets/card-signo-ready.svg" class="warningImg" alt="Imagen Ready"></ion-img>
      <ion-card-header>
        <ion-card-title class="tittle-confirmacion">Código de verificación</ion-card-title>
      </ion-card-header>
      <ion-card-content>
       <p class="texto-confirmacion">{{ textoReadyCodigo }}</p>
       <br>
      </ion-card-content>
      <ion-button shape="round" class="morado-confirmacion" (click)="cerrarReady()">Aceptar</ion-button>
    </ion-card>
  </div>

</ion-content>
