.Content-Background,.toolbar-button{
  --background: linear-gradient(to bottom, #000000, #000000);
  color:#E5E5E5 ;
}
.sub-text{
  color: #E5E5E5;
}
ion-title {
  text-align: right;
}
.Negritas {
  font-weight: bold;
  font-size: 1.3em;
  color: white;
}
.contenedor-form {
  margin: 2%;
  margin-left: 6%;
  margin-right: 6%;
}

.h1-reporte {
  color: #72a0c3;
  font-weight: 800;
  font-size: 1.7em;
  
}
.text-fallo {
  color: white;
  font-size: 1.2em;
}
/* Estilo de la segunda card */
.card-confirmacion {
  max-width: 400px; /* Ancho máximo */
  height: auto; /* Altura automática */
  background-color: #7d6985; /* Color de fondo */
  border-radius: 20px;
  color: black;
  padding-bottom: 10px;
  margin: auto;
}
/* Estilo de la segunda card */
.card-warning {
  width: 90%; /* Ancho deseado */
  max-width: 400px; /* Ancho máximo */
  height: auto; /* Altura automática */
  background-color: #434343; /* Color de fondo */
  border-radius: 25px;
  text-align: center;
  color: black;
  padding-bottom: 10px;
  margin: auto; /* Añade margen automático para centrar horizontalmente */
}
.tittle-confirmacion{
  font-size: 1.8em;
  font-weight: bold;
  color: white;
}
.plan-price-confirmacion {
  font-size: 1.6em;
  font-weight: bold;
  color: #72a0c3;
  text-align: center;
}
.service-card {
  font-size: 1.3em;
  color: #bdbcbc;
}

.btn-cerrar {
  background-color: #4a4a4a; /* Color de fondo gris oscuro */
  color: white; /* Color de texto blanco */
  border: none; /* Sin bordes */
  border-radius: 2.5rem; /* Bordes redondeados */
  font-size: 16px; /* Tamaño de la fuente */
  line-height: 40px; /* Altura de línea para controlar la altura del botón */
  height: 3.563rem; /* Altura del botón */
  width: 20rem; /* Ancho del botón */
  text-align: center; /* Alineación del texto */
  font-weight: bold; /* Fuente en negrita */
  display: block; /* O display: inline-block; si prefieres */
  box-shadow: 0px 3px 6px #00000029; /* Sombra del botón */
  text-transform: uppercase; /* Texto en mayúsculas */
  margin: auto; /* Auto-márgenes para centrar horizontalmente */
}
.btn-codigo {
  background-color: #c78f65; /* Color de fondo gris oscuro */
  color: white; /* Color de texto blanco */
  border: none; /* Sin bordes */
  border-radius: 2.5rem; /* Bordes redondeados */
  font-size: 16px; /* Tamaño de la fuente */
  line-height: 40px; /* Altura de línea para controlar la altura del botón */
  height: 3.563rem; /* Altura del botón */
  width: 20rem; /* Ancho del botón */
  text-align: center; /* Alineación del texto */
  font-weight: bold; /* Fuente en negrita */
  display: block; /* O display: inline-block; si prefieres */
  box-shadow: 0px 3px 6px #00000029; /* Sombra del botón */
  text-transform: uppercase; /* Texto en mayúsculas */
  margin: auto; /* Auto-márgenes para centrar horizontalmente */
}
.btn-codigo:active {
  background-color: #583e2a; /* Color de fondo más oscuro al presionar */
  transform: scale(0.95); /* Efecto de reducción para dar sensación de presión */
}

.contenedor-pantalla {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 105%; /* Ajusta el ancho del contenedor según sea necesario */
  max-height: 85%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.358);
  padding: 20px;
  border-radius: 10px;
  z-index: 9999;
}
.warningImg{
  width: 25%;
  height: 100%;
  display: block;
  margin: 0 auto; /* Esto centra horizontalmente la imagen */
  margin-top: 5%;
}
.texto-confirmacion{
  font-size:  1.4em;
  color: #CCCCCC;
 }
 .morado-confirmacion{
  --background: #D473EC;
  }
/* Media query para dispositivos con un ancho mínimo de 769px (típicamente computadoras de escritorio) */
@media screen and (min-width: 769px) {
  .h1-reporte, .text-fallo {
  text-align: center;
  }

}