.Content-Background,.toolbar-button{
    --background: linear-gradient(to bottom, #000000, #000000);
    color:#E5E5E5 ;
}
.sub-text{
    color: #E5E5E5;
  }
  ion-title {
    text-align: right;
  }
  .contenedor-form {
    margin: 2%;
    margin-left: 6%;
    margin-right: 6%;
}
.h1-reporte {
    color: #72a0c3;
    font-weight: bold;
    font-size: 1.7em;
}
.text-fallo {
    color: #bdbcbc;
    text-align: justify;
}
.custom-label {
    font-size: 1.3em;
    color: #BDBCBC;
    font-weight: bold;
}
.custom-input {
    font-size: 1.2em;
    border: 1px solid #BDBCBC;
    border-radius: 10px;
    color: #000000;
    font-weight: bold;
    color: #BDBCBC;
}
.contendor-card {
    margin-left: 4%;
    margin-right: 4%;
}
.custom-card{
    background-color: #7D6985; /* Color de fondo */
    border-radius: 15px;
}
.service-card {
    font-size: 1.2em;
    color: #BDBCBC;
}
.EnviarButton {
    --background: #72a0c3;
    --background-hover: #72a0c3;
    --border-radius: 1.875em;
    --border-color: #72a0c3;
    --border-style: solid;
    text-align: center;
    display: block;
    margin: auto;
    font-size: 1.15em;
    margin-top: 3%;
   margin-left: 10%;
   margin-right: 10%;
    height: 3em;
    font-weight: bold;
}