<ion-header [translucent]="true">
  <ion-toolbar style="--background: black">
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/"
        style="--color: #e5e5e5"
      ></ion-back-button>
    </ion-buttons>
    <ion-title slot="end" class="sub-text">Politica de privacidad</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="Content-Background" [fullscreen]="true">
  <div class="contenedor-form">
    <h1 class="h1-reporte">Política de Privacidad para Spaceflix</h1>
    <p class="text-fallo">En Spaceflix, una de nuestras principales prioridades es la privacidad de nuestros visitantes. 
      Este documento de Política de Privacidad contiene tipos de información que se recopilan y registran por SpaceFlix y cómo la utilizamos.</p>
    <p class="text-fallo">Si tienes preguntas adicionales o necesitas más información sobre nuestra Política de Privacidad, 
      no dudes en ponerte en contacto con nosotros.</p>
    <p class="text-fallo">Archivos de Registro
      Plataforma Spaceflix sigue un procedimiento estándar de uso de archivos de registro. 
      Estos archivos registran a los visitantes cuando utilizan la aplicación. La información recopilada por los archivos de registro incluye direcciones de protocolo de Internet (IP), 
      tipo de navegador, proveedor de servicios de Internet (ISP), marca de fecha y hora, páginas de referencia/salida y posiblemente la cantidad de clics. 
      Estos no están vinculados a ninguna información que sea personalmente identificable. 
      El propósito de la información es analizar tendencias, administrar la aplicación, realizar un seguimiento del movimiento de los usuarios en la aplicación y recopilar información demográfica.</p>
    <p class="text-fallo">Nuestros Socios Publicitarios
      Algunos de los anunciantes en nuestra aplicación pueden utilizar cookies y balizas web. Nuestros socios publicitarios se enumeran a continuación. Cada uno de nuestros socios publicitarios tiene su propia Política de Privacidad para sus políticas sobre datos de usuarios. Para facilitar el acceso, hemos incluido enlaces a sus Políticas de Privacidad a continuación.
      
      Google
      
      https://policies.google.com/technologies/ads</p>
      <p class="text-fallo">Políticas de Privacidad
        Puedes consultar esta lista para encontrar la Política de Privacidad de cada uno de los socios publicitarios de Spaceflix.</p>
      <p class="text-fallo">Los servidores de anuncios de terceros o las redes publicitarias utilizan tecnologías como cookies, JavaScript o balizas que se utilizan en sus respectivos anuncios y enlaces que aparecen en Spaceflix. Reciben automáticamente tu dirección IP cuando esto ocurre. 
        Estas tecnologías se utilizan para medir la efectividad de sus campañas publicitarias y/o personalizar el contenido publicitario que ves en esta aplicación u otras aplicaciones o sitios web.</p>
      <p class="text-fallo">Ten en cuenta que Spaceflix no tiene acceso ni control sobre estas cookies utilizadas por anunciantes de terceros.</p> 
      <p class="text-fallo">olíticas de Privacidad de Terceros
        La Política de Privacidad de Spaceflix no se aplica a otros anunciantes o sitios web. Por lo tanto, te recomendamos consultar las respectivas Políticas de Privacidad de estos servidores de anuncios de terceros para obtener información más detallada. 
        Puede incluir sus prácticas e instrucciones sobre cómo optar por ciertas opciones.</p>
      <p class="text-fallo">Información para Niños
        Otra parte de nuestra prioridad es agregar protección para los niños mientras utilizan Internet. Alentamos a los padres y tutores a observar, participar y/o supervisar y guiar la actividad en línea de sus hijos.</p>
      <p class="text-fallo">Spaceflix no recopila conscientemente ninguna Información de Identificación Personal de niños menores de 13 años. Si crees que tu hijo proporcionó este tipo de información en nuestra aplicación, 
        te recomendamos que te pongas en contacto con nosotros de inmediato y haremos nuestro mejor esfuerzo para eliminar rápidamente dicha información de nuestros registros.</p>
      <p class="text-fallo">Política de Privacidad en Línea Únicamente
        Esta Política de Privacidad se aplica solo a nuestras actividades en línea y es válida para los visitantes de nuestra aplicación en lo que respecta a la información que comparten y/o recopilan en Spaceflix. 
         política no es aplicable a ninguna información recopilada fuera de línea o a través de canales distintos a esta aplicación.
        </p>
      <p class="text-fallo">Consentimiento
        Al utilizar nuestra aplicación, aceptas nuestra Política de Privacidad y aceptas sus Términos y Condiciones.</p>
  </div>
  <br />
</ion-content>