ion-card {
  --background: transparent;
  /* Hace el fondo del card transparente */
  margin: 20px;
  /* Agrega un poco de margen alrededor del card para no tocar los bordes de la pantalla */
}
ion-card-content {
  --background: transparent;
  /* Asegura que el contenido del card también sea transparente */
  padding: 20px;
  /* Agrega padding para espacio dentro del card */
}

/* Aplica la clase .transparency-and-white-text a .content-background, .barra-estilos, .toolbar-button, y .toolbar-title */

.pagina-completa {
  background: linear-gradient(to bottom, black, #261C51);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
/* Aplica la clase .transparency-and-white-text a .content-background, .barra-estilos, .toolbar-button, y .toolbar-title */
.content-background, .barra-estilos, .toolbar-button, .toolbar-title {
  --background: transparent;
  color: #fff;
}
ion-title {
  text-align: right;
}

ion-item {
  --background: transparent;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 15px;
  /* Espacio entre items para mejor visualización */
}

ion-button {
  --background: #72a0c3;
  --background-hover: #72a0c3;
  --border-radius: 1.875em;
  --border-color: #72a0c3;
  --border-style: solid;
  text-align: center;
  display: block;
  margin: auto;
  margin-top: 1%;
  font-size: 1.25em;
  height: 3em;
  font-weight: bold;
  margin-bottom: 13%;
}
.contenedor-cabecera {
  text-align: center;
  margin-top: 1%;
}

.contenedor-form {
  margin: 2%;
  margin-left: 6%;
  margin-right: 6%;
}

.sub-text {
  color: #CCCCCC;
}

.sub-text-blue {
  color: #72A0C3;
  margin-bottom: 7%;
  font-weight: 800;
}

.custom-label {
  font-size: 1.25em;
  color: #BDBCBC;
  font-weight: 800;
}

.custom-input {
  font-size: 1.2em;
  border: 1px solid white;
  /* Establece el borde blanco */
  border-radius: 32px;
  /* Hace que los bordes estén redondeados */
  color: #BDBCBC;
}

.custom-area {
  font-size: 1.2em;
  border: 1px solid white;
  /* Establece el borde blanco */
  border-radius: 15px;
  /* Hace que los bordes estén redondeados */
  color: #000000;
  /* Establece el color del texto en blanco */
  font-weight: bold;
  color: #BDBCBC;
  padding: 0 2% 2% 2%;
}

:host {
  ion-input {
      --padding-start: 10px;
  }
}

  /* Media query para dispositivos con un ancho mínimo de 769px (típicamente computadoras de escritorio) */
  @media screen and (min-width: 769px) {
    .contenedor-form {
      margin: 2%;
      margin-left: 32%;
      margin-right: 32%;
    }
  }
