
<ion-tabs>
  <ion-tab-bar slot="bottom" style="--background: linear-gradient(to right, #422D4B, #261C51); background-repeat: no-repeat; background-attachment: fixed;">
    <ion-tab-button (click)="irHome()">
      <ion-icon name="home-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button> <!-- Asegúrate de tener una función para esto si es necesario -->
      <ion-icon name="logo-whatsapp" (click)="WhatsAppMessage()"></ion-icon>
    </ion-tab-button>
    <ion-tab-button (click)="irUsuario()">
      <ion-icon name="person-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
