<div class="pagina-completa">
  <ion-header>
    <ion-toolbar class="toolbar-title">
      <ion-buttons slot="start">
        <ion-back-button
          defaultHref="/"
          style="--color: #e5e5e5"
        ></ion-back-button>
      </ion-buttons>
      <ion-title slot="end" class="sub-text">Subir archivos</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="content-background">
    <div class="contenedor-form">
      <h2 class="sub-text">Subir excel con nuevas cuentas</h2>
      <br />
      <ion-input
        class="event"
        type="file"
        (change)="fileChanged($event)"
        accept=".xlsx, .xls"
      ></ion-input>
      <ion-button class="buttonsucces" expand="block" (click)="uploadFile()"
        >Subir Archivo</ion-button
      >
      <br />
      <h2 class="sub-text">Subir imágenes</h2>
      <h3 class="sub-text">Imagen 1</h3>
      <ion-input
        class="event"
        type="file"
        accept=".jpg, .jpeg, .png, .gif"
        (change)="onFileSelected1($event)"
      ></ion-input>
      <ion-img
        *ngIf="Imagen1 || sharedDataService.FlyerList[0]?.flyer"
        [src]="Imagen1 ? Imagen1 : sharedDataService.FlyerList[0]?.flyer"
      ></ion-img>
      <ion-button class="buttonsucces" expand="block" (click)="Upload_Img1()"
        >subir imagen 1</ion-button
      >
      <div class="button-container">
        <ion-button class="red" (click)="Delete_Img1()">Borrar</ion-button>
      </div>

      <h3 class="sub-text">Imagen 2</h3>
      <ion-input
        class="event"
        type="file"
        accept=".jpg, .jpeg, .png, .gif"
        (change)="onFileSelected2($event)"
      ></ion-input>
      <ion-img
        *ngIf="Imagen2 || sharedDataService.FlyerList[1]?.flyer"
        [src]="Imagen2 ? Imagen2 : sharedDataService.FlyerList[1]?.flyer"
      ></ion-img>
      <ion-button class="buttonsucces" expand="block" (click)="Upload_Img2()"
        >subir imagen 2</ion-button
      >
      <div class="button-container">
        <ion-button class="red" (click)="Delete_Img2()">Borrar</ion-button>
      </div>

      <h3 class="sub-text">Imagen 3</h3>
      <ion-input
        class="event"
        type="file"
        accept=".jpg, .jpeg, .png, .gif"
        (change)="onFileSelected3($event)"
      ></ion-input>
      <ion-img
        *ngIf="Imagen3 || sharedDataService.FlyerList[2]?.flyer"
        [src]="Imagen3 ? Imagen3 : sharedDataService.FlyerList[2]?.flyer"
      ></ion-img>
      <ion-button class="buttonsucces" expand="block" (click)="Upload_Img3()"
        >subir imagen 3</ion-button
      >
      <div class="button-container">
        <ion-button class="red" (click)="Delete_Img3()">Borrar</ion-button>
      </div>
      <br />

      <h3 class="sub-text">Imagen 4</h3>
      <ion-input
        class="event"
        type="file"
        accept=".jpg, .jpeg, .png, .gif"
        (change)="onFileSelected4($event)"
      ></ion-input>
      <ion-img
        *ngIf="Imagen4 || sharedDataService.FlyerList[3]?.flyer"
        [src]="Imagen4 ? Imagen4 : sharedDataService.FlyerList[3]?.flyer"
      ></ion-img>
      <ion-button class="buttonsucces" expand="block" (click)="Upload_Img4()"
        >subir imagen 4</ion-button
      >
      <div class="button-container">
        <ion-button class="red" (click)="Delete_Img4()">Borrar</ion-button>
      </div>

      <h3 class="sub-text">Imagen 5</h3>
      <ion-input
        class="event"
        type="file"
        accept=".jpg, .jpeg, .png, .gif"
        (change)="onFileSelected5($event)"
      ></ion-input>
      <ion-img
        *ngIf="Imagen5 || sharedDataService.FlyerList[4]?.flyer"
        [src]="Imagen5 ? Imagen5 : sharedDataService.FlyerList[4]?.flyer"
      ></ion-img>
      <ion-button class="buttonsucces" expand="block" (click)="Upload_Img5()"
        >subir imagen 5</ion-button
      >
      <div class="button-container">
        <ion-button class="red" (click)="Delete_Img5()">Borrar</ion-button>
      </div>

      <h2 class="sub-text">Porcentaje de Comisión</h2>
      <ion-label
        class="custom-label"
        position="floating"
        style="margin-bottom: 10px"
        >Comisión de Referidos (%)</ion-label
      >
      <div style="display: flex; flex-direction: column">
        <ion-input
          color="warning"
          class="custom-input"
          type="number"
          min="0"
          max="100"
          inputmode="numeric"
          placeholder="% 0.00"
          [(ngModel)]="sharedDataService.Cashback"
        ></ion-input>
        <ion-button
          class="red-2"
          style="--background-color: rgba(38, 38, 167, 0.829) !important"
          (click)="CambiarCashback()"
          >Aplicar</ion-button
        >
      </div>
    </div>
  </ion-content>
</div>
