<div class="pagina-completa">
  <ion-header>
    <ion-toolbar class="toolbar-title">
      <ion-buttons slot="start">
        <ion-back-button
          defaultHref="/"
          style="--color: #e5e5e5"
        ></ion-back-button>
      </ion-buttons>
      <ion-title slot="end" class="sub-text"
        >Subir cuentas correo bot</ion-title
      >
    </ion-toolbar>
  </ion-header>

  <ion-content class="content-background">
    <div class="contenedor-form">
      <h2 class="sub-text">
        Subir excel con las cuentas para el bot de los codigos
      </h2>
      <br />
      <ion-input
        class="event"
        type="file"
        (change)="fileChanged($event)"
        accept=".xlsx, .xls"
      ></ion-input>
      <ion-button class="buttonsucces" expand="block" (click)="uploadFile()"
        >Subir Archivo</ion-button
      >
      <br />
    </div>
  </ion-content>
</div>
