.pagina-completa {
  background: linear-gradient(to bottom, black, #261c51);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
/* Aplica la clase .transparency-and-white-text a .content-background, .barra-estilos, .toolbar-button, y .toolbar-title */
.content-background,
.barra-estilos,
.toolbar-button,
.toolbar-title {
  --background: transparent;
  color: #fff;
}
ion-title {
  text-align: right;
}

.transparency-and-white-text {
  --background: transparent;
  color: #fff;
}
.rounded-searchbar {
  --border-radius: 40px;
  --background: #7d6985;
  color: white;
  --placeholder-color: #ffffff;
  font-weight: 800;
  font-size: 1.25em;
  --icon-color: #cccccc;
  /* Cambia el color del icono */
  --icon-font-size: 1.25em;
  /* Cambia el tamaño del icono */
}

ion-title {
  text-align: right;
}

.contenedor-cabecera {
  text-align: center;
  margin-top: 1%;
}

.plan-name {
  font-size: 1.3em;
  color: #bfc6ff;
  font-weight: 800;
}

.plan-description {
  font-size: 1.15em;
  color: #bfc6ff;
  font-weight: 600;
}
.pagination {
  display: flex;
  justify-content: center; /* Centra el contenedor de la paginación */
  margin-top: 20px;
  padding: 10px 0; /* Espacio superior e inferior */
  overflow: hidden;
  background-color: black;
}
.page-number {
  flex: 0 0 auto; /* Evita que los elementos se estiren o encojan */
  color: white;
  cursor: pointer;
  padding: 8px 12px;
  background-color: #333; /* Fondo gris oscuro para cada número */
  border-radius: 5px; /* Bordes redondeados */
  transition: background-color 0.3s, transform 0.2s; /* Transición suave al cambiar de color y al transformar */
}

.page-number:hover {
  background-color: #555; /* Cambio de color al pasar el ratón */
  transform: scale(1.1); /* Efecto de escalado */
}
.scroll-container {
  display: flex;
  overflow-x: auto; /* Habilita el desplazamiento horizontal */
  -webkit-overflow-scrolling: touch; /* Permite un desplazamiento fluido en iOS */
  gap: 8px; /* Espacio entre cada número */
  padding: 0 20px; /* Espacio horizontal para mejor accesibilidad de los bordes */
}
.plan-all {
  font-size: 0.94em;
  color: #cccccc;
  font-weight: 600;
}

.plan-all-color {
  font-size: 0.94em;
  color: #bfc6ff;
  font-weight: 800;
}

.sub-text {
  color: #cccccc;
}

.contenedor-form {
  margin: 2%;
  margin-left: 7%;
  margin-right: 7%;
}

.contendor-card {
  display: flex;
  /* Utilizamos flexbox */
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 10px;
}

.custom-card {
  width: calc(50% - 24px);
  /* Establecemos el ancho de las tarjetas al 50% del contenedor con un espacio de 20px entre elFFlas */
  margin: 10px;
  /* Añadimos un margen entre las tarjetas */
  --background: #422d4b;
  border-radius: 25px;
  font-weight: bold;
  text-align: center;
  color: black;
}

.custom-card-2 {
  --background: #422d4b;
  border-radius: 25px;
  margin: 10px;
  /* Añadimos un margen entre las tarjetas */
  margin-left: 7%;
  margin-right: 7%;
  margin-bottom: 4.7%;
}

.add-button {
  position: fixed;
  bottom: 30px;
  /* Ajusta la distancia desde la parte inferior */
  right: 20px;
  /* Ajusta la distancia desde el lado derecho */
  border-radius: 50%;
  /* Hace que el botón sea redondo */
  --background: #d473ec;
  font-weight: bold;
}

.blue {
  --background: #72a0c3;
  --border-radius: 40px;
  font-size: 0.94em;
}
.red {
  --background: rgb(154, 10, 10);
  --border-radius: 40px;
  font-size: 0.94em;
}

.imagen-izquierda {
  float: left;
  width: 50%;
}

.texto-derecho {
  float: right;
  width: 50%;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-bottom: 3%;
}
.button-container-2 {
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
}

.imagen-izquierda img {
  height: auto;
  /* Mantiene la altura proporcional */
  /* O */
  height: 200px;
  /* Ajusta la altura manualmente */
  width: 90%;
  /* Ajusta el ancho */
  object-fit: contain;
  /* Ajusta según tu preferencia */
  transform: scale(2.1);
  /* Scales the image by 200% */
}

.content-list {
  --background: transparent !important;
  padding-left: 4.5em;
  color: #cccccc;
  border-bottom: 1px solid #434343;
}
.content-background-list {
  --background: transparent !important;
  color: #cccccc;
}
.content-background-list-filtro {
  --background: transparent !important;
}
.custom-radio {
  --color: rgb(255, 255, 255); // Color del radio
}
.radio-label{
  color: #ffffff;
}

.content-button {
  padding-left: 4.5em;
  --background: transparent !important;
}
ion-list {
  background-color: transparent;
  /* Establece el fondo transparente */
}
/* Media query para dispositivos con un ancho mínimo de 769px (típicamente computadoras de escritorio) */
@media screen and (min-width: 769px) {
  .contenedor-form {
    margin-left: 33%;
    margin-right: 33%;
  }

}