<ion-content style="--background: linear-gradient(to bottom, black, #000000);">
  <ion-header>
    <ion-toolbar class="toolbar">
      <ion-buttons slot="start">
        <ion-back-button
          defaultHref="/"
          style="--color: #e5e5e5">
        </ion-back-button>
      </ion-buttons>
      <ion-title slot="end" class="sub-text">Recargar saldo</ion-title>
    </ion-toolbar>
  </ion-header>
  <br>
  <br>
  <br>
  <div style="
  display: flex;
  flex-direction: column;
  align-items: center;">

  <h1 class="h1-recarga">Realizar recarga</h1>
    <ion-title class="subtitle">
      Ha ocurrido un error realizando el pago. <br>
      Vuelva a intentarlo mas tarde. <br>
      <br>
    </ion-title>
    <div style="display: flex; flex-direction: column; align-items: center">
      <ion-img style="width: 6rem" src="assets/error-icon.svg"/>
      <ion-img
        style="width: 20rem"
        src="assets/MP_RGB_HANDSHAKE_pluma-relleno-blanco_hori-izq.svg"
        alt="Logo Subadmin"/>
    </div>
  </div>
</ion-content>
<app-tabs></app-tabs>